# extension stuff
target
*.so
*.dydlib
*.log
*.o
test/test.db
doc/

Gemfile.lock

# test and doc artifacts
todo.txt
.bundle
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.DS_Store
