# build artefacts
target
*.so
*.dydlib
*.log
*.o
test/test.db
doc/

.vscode

Gemfile.lock

todo.txt
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/

# rspec failure tracking
.rspec_status
.DS_Store
:development
libsql_ruby-0.1.0.gem
